<h2>Destination</h2>

<button id="favorite">Add Destination to Favorites</button>
<% hotels.forEach(function(hotel){ %>
    <div>
        <p>Name: <%= hotel.hotel.name %></p>
        <p>Rating: <%= hotel.hotel.rating %></p>
    </div>
  <% }); %>

<script>
    $()
</script>