<h2>MindTravel</h2> 
<style>
    .slick-slide {
   height:100px;
}

.slick-slide img {
   height:100%;
   object-fit: cover;
}
</style>
<!-- THis is where the destination photo will be shown -->
<div style="background-color: black;">
<div id="carousel">
    <% destinations.forEach(function(destination){ %>
        <div data-slick-dbId="<%= destination.id %>"><img src="<%= destination.photo_path %>"/></div>
      <% }); %>
  </div>
</div>
<p>
    Are you tired of being stuck at home with nowhere to go? <br>
    Tired of the same routine day in and day out? <br>
    Do you need a break from work or a break from your <br>
    kids homework? <br>
    Discover MindTravel, the easy, fast and cheap destination to travel anywhere <br>
    you would like in the World, all while sitting in the comfort of your own home. <br>
    MindTravel lets you "get away" mentally from the chaos of your daily life and <br>
    imagine where you would like to spend a relaxing vacation to ease your mind and take the stress away.
</p>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script>
    $("#carousel").slick({
 
 // normal options...
 infinite: false,

 // the magic
 responsive: [{
     breakpoint: 1024,
     settings: {
       slidesToShow: 1,
       infinite: true
     }
   }, {
     breakpoint: 600,
     settings: {
       slidesToShow: 1,
       dots: true
     }

   }, {

     breakpoint: 300,
     settings: "unslick" // destroys slick

   }]
});
$('#carousel .slick-slide').on('click', function (e){ 
    let slideClicked = $(e.currentTarget).attr("data-slick-dbId"); 
    window.location.href = `/destination/${slideClicked}`;
});
</script>